body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(80deg, black, rgb(240, 11, 11));
    text-align: center;
  }
  
  main{
    text-align: center;
  }
  nav{
    text-align: center;
  }
main{
  background-color: rgba(0, 0, 0, 0.678);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 70px;
  border-radius: 20px;
  color: white;
}
input{
  padding: 6px;
  border-radius: 5px;
  outline: none;
}
input[type="submit"]{
  background-color: rgba(0, 0, 0, 0.425);
  position: relative;
  text-align: center;
  align-items: center;
  border: none;
  padding: 10px;
  top: 85%;
  left: 0%;
  border-radius: 5px;
  width: 60%;
  color: white;
  cursor: pointer;
}
[type="submit"]:hover{
  background-color: rgb(198, 223, 231);
  
}
nav{
  display: flex;
  font-size: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px linear-gradient(80deg, black, rgb(240, 11, 11));
  background-color: linear-gradient(80deg, black, rgb(240, 11, 11));
}

nav a {
  display: inline-block;
  position: relative;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px linear-gradient(80deg, black, rgb(240, 11, 11));
  text-align: center;
  text-decoration: none;
  color: white;
}

nav a[aria-current='page'] {
  color: white;
  background-color: #d4d4d4;
}

nav:hover{
  background-color: linear-gradient(80deg, black, rgb(240, 11, 11));
  border-radius: 8px;
}
box-icon[type='solid']{
  position: static;
  top: 80px;
  left: 20px;
}

nav a::after{
  content: " ";
  width: 0%;
  height: 1.6px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

nav a:hover::after {
  width: 98%;
}