body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: linear-gradient(80deg, black, rgb(240, 11, 11));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Para centralizar verticalmente */
}

main {
  background-color: rgba(0, 0, 0, 0.678);
  padding: 70px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 8px;
  border-radius: 5px;
  outline: none;
}

input[type="submit"] {
  background-color: rgb(5, 5, 5);
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  color: white;
  cursor: pointer;
  margin-top: 10px; /* Espaçamento entre o botão e o input */
}

[type="submit"]:hover {
  background-color: rgb(198, 223, 231);
}

nav {
  position: absolute;
  bottom: 10px; /* Posição no fundo */
  left: 50%;
  transform: translateX(-50%);
}

nav:hover {
  background-color: wheat;
  border-radius: 8px;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}


.icon-container box-icon[name='user-circle'] {
  font-size: 50px; /* Tamanho personalizado para o ícone user-circle */
  margin-right: 20px; /* Espaçamento à direita do ícone */
}
.icon-container box-icon [name='user']{
  display: flex;
  align-items: center;
  margin-top: 20px; 
}
